.button-form {
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;

  display: block;

  .other-text();
  .text-bold();
  color: @bg-main-color;
  text-transform: uppercase;

  border: none;
}
