.features {
  padding: 40px 20px 280px 20px;

  text-align: center;

  background-color: @bg-main-color;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-position: center bottom -45px;
  background-repeat: no-repeat;
}

.features__slogan {
  margin: 0;
  .text-light();
  .main-text(24px, 30px);

  &:first-of-type {
    margin-bottom: 35px;
  }

  &:last-of-type {
    margin-bottom: 100px;
  }
}

.features__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.features__item-title {
  margin: 0;
  margin-bottom: 15px;

  .other-text(18px, 10px);
}

.features__item-text {
  margin: 0;
  margin-bottom: 35px;
}
