.intro {
  padding: 425px 0 35px;

  text-align: center;

  background-image: url("../../img/iphone-hand-mobile@1x.png"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-position: 50% 109px,
    50% -67px;
  background-color: @basic-color;
  background-repeat: no-repeat;
}

.intro__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

.intro__title {
  display: none;
}

.intro__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.intro__button {
  margin: 0 auto;
  padding: 18px 25px;

  display: block;
  max-width: 280px;

  .text-bold();
  color: @bg-main-color;
  .other-text (18px, 18px);

  border: 3px solid @bg-main-color;
  border-radius: 100px;
}

@media (min-width: 660px) {
  .intro {
    display: flex;
    padding: 100px 20px 110px;

    background-image: url("../../img/iphone-hand-tablet@1x.png");
    background-position: center bottom;
    background-color: transparent;
    background-repeat: no-repeat;
  }

  .intro__wrapper {
    display: flex;

    margin: 0;
  }

  .intro-inner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 300px;
    min-height: 410px;
    // margin-right: auto;
  }

  .intro__title {
    display: block;
    margin: 0;

    color: @bg-main-color;
    .text-light();
    .other-text(40px, 34px);
  }
}

@media (min-width: 960px) {
  .intro__wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
