.main-form {
  // text-align: center;
}

.main-form__list-wrapper {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.main-form__list {
  margin: 0;
  padding: 0;

  text-align: left;

  list-style: none;
}

.main-form__item {
  margin-bottom: 25px;
}

.main-form__label {
  display: block;
  .main-text(14px, 30px);
  color: @accent-color;
  text-transform: uppercase;
}

.main-form__input {
  width: 100%;

  .other-text(18px, 30px);
}

.main-form__subtitle {
  margin-bottom: 40px;

  .main-text(14px, 18px);
  text-transform: uppercase;
  color: @accent-color;
  text-align: center;
}

.main-form__checkbox-label,
.main-form__radio-label {
  .other-text();
}

.main-form__message {
  margin-bottom: 50px;

  text-align: left;

  .main-form__textarea {
    width: 100%;
  }
}

.main-form__button {
  margin-bottom: 30px;
}

.main-form__text-help {
  text-transform: uppercase;
  text-align: center;
}

.main-form__text-help-icon {
  color: @accent-color;
}

@media (min-width: 660px) {
  .main-form {
    display: flex;
    flex-direction: column;
  }

  .main-form__list-wrapper {
    padding: 40px 60px;
  }

  .main-form__user-date {
    padding: 0;
    order: 1;

    .main-form__item {
      display: flex;
      align-items: center;

      margin-bottom: 50px;
    }
  }

  .main-form__app {
    order: 2;
  }

  .main-form__user-contacts {
    order: 3;

    .main-form__item {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .main-form__success {
    order: 4;
  }

  .main-form__emotions {
    order: 5;
  }

  .main-form__wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .main-form__button {
    margin: 0;
  }
}

@media (min-width: 960px) {
  .main-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-form__list-wrapper {
    margin-bottom: 60px;
  }

  .main-form__user-date {
    flex-basis: 435px;
  }

  .main-form__app {
    flex-basis: 435px;
  }

  .main-form__user-contacts {
    flex-basis: 100%;

    .main-form__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .main-form__emotions {
    flex-basis: 100%;
  }

  .main-form__success {
    flex-basis: 100%;

    padding: 40px 60px;

    .main-form__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
      height: 130px;
    }
  }

  .main-form__wrapper-button {
    flex-basis: 100%;
  }
}
