.main-intro {
  padding: 100px 0 85px;

  color: @bg-main-color;
  text-align: center;
}

.main-intro__title {
  margin: 0;
  .text-light();
  .other-text(24px, 34px);
}

@media (min-width: 660px) {
  .main-intro {
    padding-top: 69px;
    padding-bottom: 78px;

    &--space-yes {
      display: none;
    }
  }

  .main-intro__title {
    .other-text(50px, 61px);
  }
}

@media (min-width: 960px) {
  .main-intro {
    padding-top: 63px;
    padding-bottom: 99px;

    &--br-none {
      display: none;
    }
  }

  .main-intro__title {
    .other-text(50px, 62px);
  }
}
