.main-form {
  text-align: center;
}
.main-form__list-wrapper {
  border: none;
}
.main-form__list {
  margin: 0;
  padding: 0;

  text-align: left;

  list-style: none;
}
.main-form__item {
  margin-bottom: 25px;
}
.main-form__label {
  display: block;
  .main-text(14px, 30px);
  color: @accent-color;
  text-transform: uppercase;
}
.main-form__list-subtitle {
  margin-bottom: 40px;

  .main-text(14px, 18px);
  text-transform: uppercase;
  color: @accent-color;
  text-align: center;
}
.main-form__checkbox-label,
.main-form__radio-label {
  .other-text();
}
.main-form__message {
  margin-bottom: 50px;

  text-align: left;

  border: none;
}
.main-form__button {
  margin-bottom: 30px;
  padding: 17px 45px;
}
.main-form__text-help {
  text-transform: uppercase;
}
.main-form__text-help-icon {
  color: @accent-color;
}
