.map {
  height: 200px;
  overflow: hidden;

  text-align: center;
}

.map__wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;

  &::before {
    content: "";

    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 320px;
    height: 34px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 320px 34px;
  }
}

@media (min-width: 660px) {
  .map {
    height: 375px;
  }

  .map__wrapper {
    width: 660px;

    &::before {
      width: 660px;
      height: 70px;

      top: -2px;

      background-size: 660px 70px;
    }
  }
}

@media (min-width: 960px) {
  .map {
    height: 505px;
  }

  .map__wrapper {
    width: 960px;

    &::before {
      width: 960px;
      height: 105px;

      top: -3px;

      background-size: 960px 105px;
    }
  }

  .map__image {
    width: 100%;
    height: auto;
  }
}
