.photo-post {
  text-align: center;

  background-color: @bg-extra-color;
}

.photo-post__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.photo-post__image-wrapper {
  margin-bottom: 40px;
}

.photo-post__control-wrapper {
  margin-bottom: 30px;
}

.photo-post__button-wrapper {
  padding: 40px 0;
}

.photo-post__button-post {
  margin-bottom: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 85px;
  padding-right: 85px;

  color: @accent-color;
  .other-text(18px, 18px);
  .text-bold();

  border-radius: 100px;
  border: 3px solid @accent-color;
  background-color: transparent;
}

.photo-post__button-clear {
  margin-bottom: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 100px;
  padding-right: 100px;

  color: @basic-color;
  .other-text(18px, 18px);
  .text-bold();

  border-radius: 100px;
  border: 3px solid @basic-color;
  background-color: transparent;
  opacity: 0.1;
}

@media (min-width: 660px) {
  .photo-post__wrapper {
    width: 660px;
  }

  .photo-post__form {
    display: flex;
    justify-content: space-between;
  }

  .photo-post__image-wrapper {
    flex-basis: 300px;
  }

  .photo-post__control-wrapper {
    flex-basis: 300px;
  }

  .photo-post__button-wrapper {
    margin-top: 140px;
  }

  .photo-post__button-post {
    width: 260px;
    padding-left: 0;
    padding-right: 0;
  }

  .photo-post__button-clear {
    width: 260px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 960px) {
  .photo-post__wrapper {
    width: 960px;
  }

  .photo-post__form {
    padding: 55px 60px 55px 80px;
  }

  .photo-post__image-wrapper {
    flex-basis: 300px;
  }

  .photo-post__control-wrapper {
    flex-basis: 410px;
  }

  .photo-post__button-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 140px;
    padding: 0;
  }

  .photo-post__button-post {
    width: 184px;
    padding-left: 0;
    padding-right: 0;
  }

  .photo-post__button-clear {
    width: 184px;
    padding-left: 0;
    padding-right: 0;
  }
}
