.rates {
  padding-bottom: 40px;

  overflow: hidden;

  text-align: center;
}

.rates__wrapper {
  display: flex;
  justify-content: center;

  width: 320;
  margin: 0 auto;
}

.rates__list {
  margin: 0 auto 30px;
  margin-left: -55%;
}

.rates__header {
  color: @bg-main-color;
  text-align: center;

  background-color: @basic-color;
}

.rates__item {
  text-align: left;

  border-bottom: 2px solid @border-color;
}

.rates__item-title {
  min-width: 280px;
}

.rates__title-name {
  .text-bold();
  .other-text();
}

.rates__title-price {
  .text-light();
  .other-text(24px, 30px)
}

@media (max-width: 650px) {
  .rates__item-filter {
    &::before {
      content: attr(filter) "";
    }
  }

  .rates__item-smile {
    &::before {
      content: attr(smile) "";
    }
  }

  .rates__item-comment {
    &::before {
      content: attr(comment) "";
    }
  }
}

@media (min-width: 660px) {
  .rates__wrapper {
    width: 660px;
  }

  .rates__list {
    margin: 0;
  }

  .rates__item-title {
    min-width: 150px;
  }

  .rates__toggles {
    display: none;
  }
}

@media (min-width: 960px) {
  .rates__wrapper {
    width: 960px;
  }

  .rates__item-title {
    min-width: 233px;
  }
}
