.site-list {
  margin: 0;
  padding: 0;
  .other-text(18px, 32px);
  .bold();
  text-transform: uppercase;
  text-align: center;
  color: @border-color;

  background-color: @main-color;

  list-style: none;
}
.site-list__item {
  padding: 15px 0;

  border-bottom: 1px solid black;
}
.site-list__link {
  color: @bg-color;
}
