.site-list {
  margin: 0;
  padding: 0;
  .other-text(18px, 32px);
  .text-bold();
  text-transform: uppercase;
  text-align: center;
  color: @bg-main-color;

  background-color: @basic-color;

  list-style: none;
}

.site-list__item {
  padding: 15px 0;

  border-bottom: 1px solid black;
}

.site-list__link {
  color: @bg-main-color;
}

@media (min-width: 960px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 620px;

    background-color: transparent;
  }
}
